.card img{
  width: 100px;
  height: 100px;

}

.card{
  width: 220px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  text-align: center;
  padding: 30px;
}

.card p{
  color: darkgray;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 35px;
}
